.app {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid black
}

button {
    background-color: firebrick;
    color: white;
}
  
button:hover {
    background-color: lightgray;
    color: black;
}

.todo_display {
    padding: 20px;
}

.todo_edit {
    padding: 20px;
}