body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(93, 114, 114);
}

.app {
    border-radius: 5px;
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 3px solid black
}

.todo-title {
    cursor: pointer;
}

.todo-title-completed {
    cursor: pointer;
    text-decoration: line-through;
}

button {
    background-color: lightgray;
    color: black;
}
  
button:hover {
    background-color: black;
    color: white;
}

.todo {
    padding: 10px;
}

.todo-input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
}

.todo-submit {
    width: 400px;
    text-align: center;
}

textarea {
    resize: none;
    overflow: hidden;
    border: 0px none;
    height: 40px;
    width: 400px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.no-outline:focus {
    border: 0px none;
    outline: none;
}

.edit-btns {
    padding: 20px;
}

.title-edit {
    padding: 20px;
}