body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
}

.app {
    border-radius: 5px;
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 3px solid black
}

.todo-title {
    cursor: pointer;
}

.todo-title-completed {
    cursor: pointer;
    text-decoration: line-through;
}

button {
    background-color: black;
    color: white;
}
  
button:hover {
    background-color: lightgray;
    color: black;
}

.todo_display {
    border: 1px solid black;
    padding: 20px;
}

.todo_edit {
    border: 1px solid black;
    padding: 20px;
}

textarea {
    background-color: white;
    color: white;
    resize: none;
    overflow: hidden;
    border: 0px none;
    height: 70px;
    width: 400px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}